<div class="col-sm-9">
    <div class="media">
        <div class="media-body">
             + preContent + 
            <p class="mb-0 align-middle id="">
                ' + tweetValue.content + '(<a href="' + tweetValue.content_url + '">View</a> | <a class="retweet" href="' + tweetValue.retweet_url + '">Retweet</a> | <a class="like-btn" data-id="' + tweetValue.pk + '" href="' + tweetValue.pk + '">' + verbLike + '(' + tweetValue.like_count + '</a>) | <a class="reply-btn" data-id="' + tweetValue.pk + '" data-user ="' + tweetValue.author.username + '" href="#">Reply</a>)</p>
        </div>
    </div>
</div>