{%extends 'base.html'%}

{%block title%}
{{block.super}}List{%endblock%}

{%block script%}
<script>
    // this functions helps you get the search query q
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $(document).ready(function () {
        console.log('working');
        var query = getParameterByName('q')
        var tweetList = []
        function attachTweet(tweetValue, prepend) {
            var tweetAuthor = tweetValue.author.username;
            var tweetContent = tweetValue.content;
            var tweetDate = tweetValue.time_display;
            var tweetHTML = '<div class="row mt-5"><div class= "col-sm-3" ><p class="mb-0 text-center">' + tweetAuthor + '</p><p class="text-center">' + tweetDate + '</div><div class="col-sm-9"><div class="media"><div class="media-body"><p class="mb-0 ">' + tweetContent + '(<a href="#">View</a>)</p></p></div> </div><hr></div></div >'
            if (prepend == true) {
                $("#tweet-container").prepend(tweetHTML)
            } else {
                $("#tweet-container").append(tweetHTML)
            }
        }
        function parseTweets() {
            if (tweetList == 0) {
                $(" #tweet-container").text('No tweets currently found.')
            } else {
                $.each(tweetList, function (key, value) {
                    // console.log(value)
                    attachTweet(value)

                })
            }
        }
        function fetchTweet() {
            $.ajax({
                url: "/api/tweet/",
                data: { "q": query },
                method: "GET",

                success: function (data) {
                    tweetList = data
                    // console.log(data)
                    parseTweets()
                },
                error: function (data) {
                    console.log('error')
                },
            });
        }
        fetchTweet()


        var charsStart = 140
        var charsCurrent = 0
        $("#form_id").append("<span id='tweetCharLeft'>" + charsStart + "</span>")

        $("#form_id textarea").keyup(function (event) {
            charsCurrent = charsStart - $(this).val().length
            var charTag = $("#tweetCharLeft")
            charTag.text(charsCurrent)
            if (charsCurrent > 0) {
                charTag.addClass('green-text')
            } else if (charsCurrent == 0) {
                charTag.removeClass('green-text')
            } else if (charsCurrent < 0) {
                charTag.addClass('red-text')
            }

        })


        $("#form_id").submit(function (event) {
            event.preventDefault()
            var this_ = $(this)
            var formData = this_.serialize()
            if (charsCurrent >= 0) {
                $.ajax({
                    url: "/api/tweet/create/",
                    data: formData,
                    method: "POST",

                    success: function (data) {
                        console.log(charsCurrent)
                        this_.find("textarea").val("")
                        attachTweet(data, true)
                    },
                    error: function (data) {
                        console.log("error")
                    }
                })
            } else {
                console.log('Cannot send')
            }
        })
    })
</script>

{%endblock%}

{%block content%}
{%include 'navbar.html'%}

<div class="container">
    <h1 class='d-5 py-5 display-3 text-center'>All tweets</h1>
    <div class="row">
        <!-- <div class="col-sm-3"></div> -->
        <div class="col-sm-8 offset-sm-2">
            {%include 'tweets_app/form.html' with form=form form_id="form_id" action_url=form_url btn_title='Tweet'%}
        </div>
    </div>
    <hr class='mt-5'>

    <div id="tweet-container"></div>
    <!-- {%for object in object_list%}
    <div class="row mt-5">
        <div class="col-sm-3">
            <p class='mb-0 text-center'>{{object.author}}</p>
            <p class='text-center'>{{object.created_date|date:"D-y-m"}}
        </div>
        <div class="col-sm-9">
            <div class="media">
                <div class="media-body">
                    <p class='mb-0 '>{{object.content}} (<a href="{{object.get_absolute_url}}">View</a>)</p>
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    {%empty%}
    {%if request.GET.q %} No tweet found
    <hr>
    {%else%}
    No tweet yet
    <hr>
    {%endif%}
    {%endfor%}
</div> 


 <div class="container text-center">
        {%include 'tweets_app/pagination.html'%}
    </div> -->


    {%endblock%}