{%extends 'base.html'%}

{%block title%}
{{block.super}}Detail
{%endblock%}

{%block script%}
<script>
    $(document).ready(function () {
        var fetchOne=$("#tweet-container").attr("data-id")
        loadTweetContainer("tweet-container", fetchOne)
        console.log(fetchOne)
    })
</script>

{%endblock%}

{%block content%}
<div class="container">
    <h1 class='d-5 py-5 display-3 text-center'>Tweet Details</h1>
    <!-- Use ajax to extract tweet list -->
    <div id="tweet-container" data-url="/api/tweet/" data-id="{{object.pk}}"></div>

    <div class="row my-2">
        <div class="col-sm-3">
            <p class="mb-0 text-center"><a href="" id="loadmore" class="text-center">Load more tweets</a></p>
        </div>
    </div>
</div>

{%endblock%}