{%extends 'base.html'%}

{%block title%}
{{block.super}}List{%endblock%}

{%block script%}
<script>
    $(document).ready(function () {
        loadTweetContainer("tweet-container")
    })
</script>

{%endblock%}

{%block content%}


<div class="container">
    <h1 class='d-5 py-5 display-3 text-center'>All tweets</h1>
    <div class="row">
        <!-- <div class="col-sm-3"></div> -->
        <div class="col-sm-8 offset-sm-2">
            {%include 'tweets_app/form.html' with form=form form_class="tweet-form" action_url=form_url btn_title='Tweet'%}
        </div>
    </div>
    <hr class='mt-5'>

    <!-- Use ajax to extract tweet list -->
    <div id="tweet-container" data-url="/api/tweet/"></div>

    <div class="row my-2">
        <div class="col-sm-3">
            <p class="mb-0 text-center"><a href="" id="loadmore" class="text-center">Load more tweets</a></p>
        </div>
    </div>
</div>

<!-- <a href="" id="loadmore" class="text-center">Load more tweets</a> -->


{%endblock%}