{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}Tweet.co {%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">


</head>

<body>
    {%include 'navbar.html'%}
    {%block content%} {%endblock%}
    {%include 'tweets_app/replymodal.html'%}


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src='{%static "js/bootstrap.js"%}'> </script>
    {%block script%}{%endblock script%}
    <script>
        $(document).ready(function () {
            var typingTimer;
            var doneInterval = 1500;
            var searchInput = $("#navbar-search-form input[type=search]");
            var searchQuery;

            searchInput.keyup(function (event) {
                searchQuery = $(this).val()
                typingTimer = setTimeout(doneSearchTyping, doneInterval)

            })


            function doneSearchTyping() {
                if (searchQuery) {
                    var url = '/tweet/list/?q=' + searchQuery
                    document.location.href = url;
                }
            }
        })

        // < !--fetch tweet-- >

        // this functions helps you get the search query q
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        function loadTweetContainer(tweetContainerId, fetchOne) {
            var query = getParameterByName('q');
            var tweetList = [];
            var createApiTweet = "/api/tweet/create/";
            var tweetContainer;
            if (tweetContainerId) {
                tweetContainer = $("#" + tweetContainerId)
            } else {
                tweetContainer = $("#tweet-container")
            }
            var initialUrl = tweetContainer.attr("data-url") || "/api/tweet/";
            function updateHashLinks() {
                $(".media-body").each(function (data) {
                    // #hashtag
                    var hashtagRegex = /#([\d\w-]+)/g
                    var newText = $(this).html().replace(hashtagRegex, "<a href='/tags/$1/'>#$1</a>")
                    $(this).html(newText)

                    // @user
                    var userRegex = /@([\d\w-]+)/g
                    var newText = $(this).html().replace(userRegex, "<a href='/tags/$1/'>@$1</a>")
                    $(this).html(newText)
                })
            }

            // retweet function
            $(document.body).on("click", ".retweet", function (event) {
                event.preventDefault()
                var url = $(this).attr("href")
                console.log(url)
                $.ajax({
                    url: url,
                    method: "GET",
                    success: function (data) {
                        if (initialUrl == '/api/tweet/') {                          
                            attachTweet(data, true)
                            updateHashLinks()
                        }
                    },
                    error: function (data) {
                        console.log('bad')
                    }
                })
            })

            // Like toggle
            $(document.body).on("click", ".like-btn", function (event) {
                event.preventDefault()
                var this_ = $(this)
                var tweetId = this_.attr('data-id')
                var likeUrl = '/api/tweet/' + tweetId + '/like'
                console.log(likeUrl)

                $.ajax({
                    url: likeUrl,
                    method: "GET",
                    success: function (data) {
                        console.log('it works')
                        if (data.liked) {
                            this_.text("Liked");
                            console.log('1')
                        } else {
                            this_.text("Unliked");
                            console.log('2')
                        }
                    },
                    error: function (data) {
                        console.log('it doesnt work')
                    }
                })
            })

            // Reply tweet
            $(document.body).on("click", ".reply-btn", function (event) {
                event.preventDefault()
                var this_ = $(this)
                var parentId = this_.attr('data-id')
                var username = this_.attr('data-user')
                var content = this_.parent().parent().find("#content").text()
                console.log(content)
                $("#replyModal").modal({})
                $("#modalReply").val('@'+username+' ')
                $("#replyModal").on('shown.bs.modal', function(event){
                    $(".tweet-form textarea").focus()
                
                })
                $(".tweet-form textarea").after('<input type="hidden" name="parent_id" value ="'+parentId+'">')
                $(".tweet-form textarea").after('<input type="hidden" name="reply" value ="true">')
                $("#replyModal #replyModalLabel").text('Reply to: '+content)
            })

            // format the tweets
            function formatTweet(tweetValue) {
                // show like or liked after loading the page
                var verbLike;
                if (tweetValue.did_like) { verbLike = 'Liked' } else { verbLike = 'Like' }

                // check if the tweet was retweeted
                var preContent = ''
                var isReply = tweetValue.reply
                if (tweetValue.parent && !isReply) {
                    tweetValue.pk = tweetValue.parent.pk
                    tweetValue.like_count = tweetValue.parent.like_count
                    preContent = '<p class="mb-0 gray-text font-italic ">Retweet via <a href="' + tweetValue.parent.author_url + '">' + tweetValue.parent.author.username + '</a></p>'
                } else if (tweetValue.parent && isReply) {
                    tweetValue.pk = tweetValue.parent.pk
                    tweetValue.like_count = tweetValue.parent.like_count
                    preContent = '<p class="mb-0 gray-text font-italic ">Reply to @<a href="' + tweetValue.parent.author_url + '">' + tweetValue.parent.author.username + '</a></p>'
                }

                // author box
                var tweetAuthorContent = '<div class= "col-sm-3" ><p class="mb-0 text-center"><a href="' + tweetValue.author_url + '">' + tweetValue.author.username + '</a></p><p class="text-center mb-0">' + tweetValue.time_display + '</p></div>'

                // tweet box
                var tweetContent = '<div class="col-sm-9"><div class="media"><div class="media-body">' + preContent + '<p class="mb-0 align-middle"><span id="content">' + tweetValue.content + '</span> (<a href="' + tweetValue.content_url + '">View</a> | <a class="retweet" href="' + tweetValue.retweet_url + '">Retweet</a> | <a class="like-btn" data-id="' + tweetValue.pk + '" href="' + tweetValue.pk + '">' + verbLike + '(' + tweetValue.like_count + '</a>) | <a class="reply-btn" data-id="' + tweetValue.pk + '" data-user ="' + tweetValue.author.username + '" href="#">Reply</a>)</p></div></div></div>'

                var container = '<div class="row my-3">' + tweetAuthorContent + tweetContent + '</div><div class="row"><div class="col-3"></div><div class="col-9"><hr></div></div>'
                return container
            }


            function attachTweet(tweetValue, prepend) {
                var tweetFormattedHtml;
                tweetFormattedHtml = formatTweet(tweetValue)

                var tweetHTML;
                if (prepend == true) {
                    tweetContainer.prepend(tweetFormattedHtml)
                } else {
                    tweetContainer.append(tweetFormattedHtml)
                }
            }

            function parseTweets() {
                if (tweetList == 0) {
                    tweetContainer.text('No tweets currently found.')
                } else {
                    $.each(tweetList, function (key, value) {
                        attachTweet(value, false)

                    })
                }
            }

            var nextTweetUrl;
            // fetch all tweets
            function fetchTweet(url) {
                var fetchUrl;
                if (!url) {
                    fetchUrl = initialUrl
                } else {
                    fetchUrl = url
                }
                $.ajax({
                    url: fetchUrl,
                    data: { "q": query },
                    method: "GET",

                    success: function (data) {
                        tweetList = data.results
                        if (data.next) { nextTweetUrl = data.next } else { $("#loadmore").css('display', 'none') }
                        parseTweets()
                        updateHashLinks()
                    },
                    error: function (data) {
                        console.log('error')
                    },
                });
            }

            // fetch  tweet detail
            function fetchSingle(fetchOne) {
                var fetchUrl='/api/tweet/'+fetchOne+'/'   
                $.ajax({
                    url: fetchUrl,  
                    method: "GET",
                    
                    success: function (data) {
                        tweetList = data.results       
                        if (data.next){ nextTweetUrl = data.next } else { $("#loadmore").css('display', 'none') }       
                        parseTweets()
                        updateHashLinks()
                    },
                    error: function (data) {
                        console.log('error')
                    },
                });
            }
            
            // fetch all tweets or fetch detail
            if(fetchOne){
                fetchSingle(fetchOne)
            }else{
                fetchTweet()
            }   

            // load more tweet, go to next api page
            $("#loadmore").click(function (event) {
                event.preventDefault()
                if (nextTweetUrl) { fetchTweet(nextTweetUrl) }
            })

            // count characters of form
            var charsStart = 150
            var charsCurrent = 0
            $(".tweet-form").append("<span id='tweetCharLeft'>" + charsStart + "</span>")

            // count characters of form, change text colors.
            $(".tweet-form textarea").keyup(function (event) {
                charsCurrent = charsStart - $(this).val().length
                var charTag = $(".tweet-form").find("#tweetCharLeft")
                charTag.text(charsCurrent)
                if (charsCurrent > 0) {
                    charTag.addClass('green-text')
                } else if (charsCurrent == 0) {
                    charTag.removeClass('green-text')
                } else if (charsCurrent < 0) {
                    charTag.addClass('red-text')
                }

            })



            $(".tweet-form").submit(function (event) {
                event.preventDefault()
                var this_ = $(this)
                var formData = this_.serialize()
                console.log(formData)
                if (charsCurrent >= 0) {
                    $.ajax({
                        url: createApiTweet,
                        data: formData,
                        method: "POST",

                        success: function (data) {
                            this_.find("textarea").val("")
                            attachTweet(data, true)
                            updateHashLinks()
                            $('#replyModal').modal('hide')
                        },
                        error: function (data) {
                            console.log("error")
                        }
                    })
                } else {
                    console.log('Cannot send')
                }
            })
        }

    </script>
</body>

</html>