.pb-0 {
  margin-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.gray-text {
  color: gray;
}
