{%extends 'base.html'%}
{%load recommended%}
{%block script%}
<script>
    // this functions helps you get the search query q
    $(document).ready(function () {
        loadTweetContainer("tweet-container")
    })
</script>
{%endblock%}

{%block content%}
<div class="container">
    <h1 class='d-5 py-5 display-3 text-center'>All tweets</h1>
    <!-- Use ajax to extract tweet list -->
    <div id=""></div>
    {%if is_following%}
    <a class='btn btn-primary' href="{{object.profile.get_follow_url}}">Unfollow</a>
    {%else%}
    <a class='btn btn-primary' href="{{object.profile.get_follow_url}}">Follow</a>
    {%endif%}

    <div id="tweet-container" data-url="/api/{{object.username}}/tweet/"></div>

    <div class="row my-2">
        <div class="col-sm-3">
            <p class="mb-0 text-center"><a href="" id="loadmore" class="text-center">Load more tweets</a></p>
        </div>
    </div>



    <!-- Show who you follow -->
    <div class="row mt-5">
        <div class="col-12">
            <h2>Following <small>({{object.profile.get_following.count}})</small></h2>
            {%if object.profile.get_following%}
            <ul>
                {%for object in object.profile.get_following%}
                <li><a href="{%url 'profile_app:user_detail' username=object.username%}">{{object.username}}</a></li>
                {%endfor%}
            </ul>

            {%else%}
            <p>Not following anyone</p>
            {%endif%}
        </div>

        <!-- Show who follows you -->
        <div class="col-12">
            <h2>Followed By <small>({{object.followed_by.all.count}})</small></h2>
            {%if object.followed_by.all%}
            <ul>
                {%for profile in object.followed_by.all%}
                <li><a href="{%url 'profile_app:user_detail' username=profile.user.username%}">{{profile.user.username}}</a></li>
                {%endfor%}
            </ul>
            {%else%}
            <p>No one follows</p>
            {%endif%}
        </div>

        <!-- Show recommended users -->
        <div class="col-12">
            <h2>Recommended <small>({{recommended.count}})</small>:</h2>
            {%recommended user=request.user%}
            <!-- <ul>
                {%for user in recommended%}
                <li>
                    <a href="{%url 'profile_app:user_detail' username=user.user.username%}">{{user.user.username}}</a>
                </li>
                {%endfor%}
            </ul> -->

        </div>
    </div>
</div>
</div>
{%endblock%}