{%extends 'base.html'%}

{%block title%}
{{block.super}}Tags{%endblock%}

{%block script%}
<script>
    $(document).ready(function () {
        loadTweetContainer("tweet-container")
    })
</script>

{%endblock%}

{%block content%}


<div class="container">

    <div class="row">
        <div class="col mt-5 lead">
            <p>Result for: #{{object.tag}}</p>
        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-sm-9">
            <h3 class='d-5 py-5 display-4 text-center'>Tags</h3>
            <!-- Use ajax to extract tweet list -->
            <div id="tweet-container" data-url="/api/tags/{{object.tag}}"></div>

            <div class="row my-2">
                <div class="col-sm-3">
                    <p class="mb-0 text-center"><a href="" id="loadmore" class="text-center">Load more tweets</a></p>
                </div>
            </div>

        </div>
    </div>
</div>



{%endblock%}